@charset "utf-8";

/**
 * @site News homepage
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
    $media-queries-breakpoints: (
        wide-menu: 600,
        multicol-stories: 882
    )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./typo/typo";
@use "./layout/layout";
@use "./header/header";
@use "./header/menu";
@use "./home/hero-story";
@use "./home/new-stories";
@use "./home/top-stories";
